# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Environment variables
.env
*.env

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db